.register{  
    
   
    background-image: linear-gradient( 135deg, #5EFCE8 10%, #736EFE 100%);
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}

.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 10%;
    border-bottom-left-radius: 10% 10%;
}


.register .register-form{
    padding: 10%;
   
}

.labe{
    font-family: 'Noto Sans SC', sans-serif;
}

.required
{
    color: #d00;
    content: "*";
    
}

.date-control{
    width: 33%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.file-control{
    width: 50%;
    height: calc(2.25rem + 2px);
   
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.heading1, .heading2{
    margin-left: 20px;
    margin-top: 20px;
}

#map{
    width:100%;
    height: 250px;
}

.table1
{
    border: #F5F3F2 1px solid;
    border-bottom: none;
    width: 100%;
}

.panel1
{
    border: #F5F3F2 0.5px solid;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.panel1 button
{
    background-color: dodgerblue;
    color:#fff;
    border-radius: 7px;
    float: center;
    width:10%;
}





