
body {
    margin: 0;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff; 
}

.register{ 
    background-image: linear-gradient( 135deg, #5EFCE8 10%, #736EFE 100%);
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}

.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 10%;
    border-bottom-left-radius: 10% 10%;
}


.register .register-form{
    padding: 10%;
   
}

.labe{
    font-family: 'Open Sans', sans-serif;
}

.required
{
    color: #d00;
    content: "*";
    
}

.date-control{
    width: 33%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.file-control{
    width: 50%;
    height: calc(2.25rem + 2px);
   
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.heading1, .heading2{
    margin-left: 20px;
    margin-top: 20px;
}

#map{
    width:100%;
    height: 250px;
}

.table1
{
    border: #F5F3F2 1px solid;
    border-bottom: none;
    width: 100%;
}

.panel1
{
    border: #F5F3F2 0.5px solid;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.panel1 button
{
    background-color: dodgerblue;
    color:#fff;
    border-radius: 7px;
    float: center;
    width:10%;
}

.stage1{
    -webkit-clip-path: polygon(100% 0, 25% 0, 1% 50%, 22% 100%, 100% 100%);
}
 
.bk{
    background-image: url('../images/Cover_photo/loc.jpg');
}


  
.block-30 {
    background-size: cover;
    background-color: #ccc;
    padding: 0;
    position: relative; 
}

   
.block-30:before {
    background: #D1ece5;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .9;
    z-index: 0; 
}
    
    
.block-30, .block-30 .row {
    min-height: 700px;
    height: 100vh;   
}
    
.block-30 .heading {
    color: #fd6b54;
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 50px;
    font-family: "Gaegu", cursive; 
}
@media (min-width: 768px) {
    .block-30 .heading {
        font-size: 80px; 
    } 
       
}
@media (min-width: 992px) {
    .block-30 .heading {
        font-size: 80px; 
    } 
}

.block-30 .btn {
    background: #fff;
    border-radius: 0;
    border: 2px solid transparent;
    font-size: 14px;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #999999;
    -webkit-box-shadow: 0 20px 40px -15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 20px 40px -15px rgba(0, 0, 0, 0.2); 
}
     
    


.block-6 .icon {
    margin-right: 30px;
    color: #133783; 
    font-size: 50px;
}  
       
.block-6 .media-body .heading {
    font-size: 18px; 
}
  
.block-6 .media-body p {
    color: #a2a2a2; 
}

.block-6 .media-body p:last-child {
    margin-bottom: 4em; 
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; 
    line-height: 60px;
    background-color: #f5f5f5;
  }
    
  
.featured-donate, .featured-section {
    padding: 4em 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
}            
.featured-donate img, .featured-section img {
    border: 10px solid #fff; 
}
.featured-donate h2, .featured-section h2 {
    color: #fff; 
}
.featured-donate p, .featured-section p {
    color: #fff; 
}
.featured-donate .featured-text, .featured-section .featured-text {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .2em; 
}
.featured-donate .donation-time, .featured-section .donation-time {
    color: rgba(255, 255, 255, 0.7);
    display: block;
    font-style: italic;
    font-size: 15px; 
}
.featured-donate .fund-raised, .featured-section .fund-raised {
    font-weight: 900;
    color: #fff; 
}
.featured-donate.overlay-color, .featured-donate.overlay-color-2, .featured-section.overlay-color, .featured-section.overlay-color-2 {
    position: relative; 
}
.featured-donate.overlay-color:before, .featured-donate.overlay-color-2:before, .featured-section.overlay-color:before, .featured-section.overlay-color-2:before {
    position: absolute;
    content: "";
    background: #fd6b54;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .9;
}
.featured-donate.overlay-color-2:before, .featured-section.overlay-color-2:before {
    background: #79ccab; 
}    
  
        
    
 
            


