{% load staticfiles %}


<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title></title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'frugal/css/style.css' %}" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC" rel="stylesheet">
  
 
</head>


<body>
    
    <div class="container-fluid register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                <h3>Welcome</h3>
            </div>

            <div class="col-md-9 register-right">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'tether/dist/js/tether.js' %}"></script>
    <script src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'holderjs/holder.min.js' %}"></script>
  
  </body>
  
  </html>