{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>Pricing example for Bootstrap</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500|Gaegu:700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <!-- Bootstrap core CSS -->
  <link href="{% static 'frugal/css/main.css' %}" rel="stylesheet">
  <link href="{% static 'frugal/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'owl.carousel/dist/assets/owl.carousel.min.css' %}" rel="stylesheet">

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-c1 fixed-top">
    <a class="navbar-brand text-white" href="#">Frugal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon bg-light"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link  text-white" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'Donor_Register' %}">I am a Donor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'register' %}">I am a NGO</a>
        </li>
      </ul>
    </div>
  </nav>
  <div>
      <div class="owl-carousel owl-loaded">
        <div class="block-30" data-stellar-background-ratio="0.5">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-7">
                <h2 class="heading">It's not how much we give but how much love we put into giving.</h2>
              </div>
              <div class="col-md-4">
                  <button type="button" class="btn btn-c1 btn-c1-hover py-3 px-5">Donate Now</button>
                </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>

   

    <div class="pt-5">
        <div class="container">
          <div class="row">
             <div class="col">
              <div class="media block-6">
                <div class="icon"><span class="fas fa-hands-helping"></span></div>
                <div class="media-body">
                  <h3 class="heading">NGO</h3>
                  <p>List of Indian NGOs to donate online, certified by Frugal</p>
                  <p><a href="#">Learn More</a></p>
                </div>
              </div>     
            </div>
           

            <div class="col">
              <div class="media block-6">
                <div class="icon"><span class="fas fa-hands-helping"></span></div>
                <div class="media-body">
                  <h3 class="heading">Make Donation Now</h3>
                  <p>List of Indian Volunteers to donate online, certified by Frugal</p>
                  <p><a href="#">Learn More</a></p>
                </div>
              </div>  
            </div>
        
           
    
          </div>
        </div>
      </div> <!-- .site-section -->
    
      <div class="featured-donate overlay-color" style="background-image: url({% static 'frugal/images/Activity/dummy.jpg' %});">
    
        <div class="container">
          <div class="row">
            <div class="col-lg-8 order-lg-2 mb-3 mb-lg-0">
              <img src="{% static 'frugal/images/Activity/dummy.jpg' %}" alt="Image placeholder" class="img-fluid">
            </div>
            <div class="col-lg-4 pr-lg-5">
              <span class="featured-text mb-3 d-block">Featured</span>
              <h2>NGO Name</h2>
              <p class="mb-3">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              
              
              <p><a href="#" class="btn btn-c1 btn-hover-white py-3 px-5">Donate Now</a></p>
            </div>
            
          </div>
        </div>
    
      </div> <!-- .featured-donate -->
    



  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'tether/dist/js/tether.js' %}"></script>
  <script src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
  <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'holderjs/holder.min.js' %}"></script>
  <script>
    Holder.addTheme('thumb', {
      bg: '#55595c',
      fg: '#eceeef',
      text: 'Thumbnail'
    });
  </script>
</body>

</html>