{% extends 'frugal/base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}


{% block content %}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyBUCoNkfRd5XxzXQdlOWiauHvqqTizw2pk" type="text/javascript"></script>
<script src="{% static 'frugal/js/geo.js' %}" type="text/javascript">  </script>



<h1 class="heading1">NGO Registration:</h1>
<h2 class="heading2"> </h2>
<div class="progress" style="height: 20px;">
    <div class="progress-bar bg-success" role="progressbar" style="width: 33%;" aria-valuenow="25" aria-valuemin="0"
        aria-valuemax="100">Step 1: General Details</div>
    <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Step
        2: Locate You</div>
</div>
<div class="row register-form">

    <div class="col">

        <h5>Locate you in google Maps</h5>
        <div class="border border-primary" id="map"></div>
  


        <form enctype="multipart/form-data" action="" method="post" onload="getLatitudeLongitude()">
            {% csrf_token %}


            {% for field in form %}
            {% if field.name == "City" or field.name == "latitude" or field.name == "longitude" or field.name == "map_click" %}
            {{pass}}
            {% else %}
            <label class="labe" for="{{field.name}}">{{field.label}}<sup class="required">*</sup></label>
            {% endif %}
            
                {{ field | add_class:"form-control" }}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}

            {% endfor %}


        </br><input type="submit" class="btn btn-primary align-left" name="submit" value="Next" class="submit" />



        </form>
    </div>
</div>
{% endblock %}