{% extends 'frugal/Base_Donor.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}

    <div class="row">
    
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 p-3">
                <div class="card shadow p-3">
                        <div class="card-header bg-white text-c1">
                              <ul class="nav nav-tabs card-header-tabs pull-right"  id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="OutBox" data-toggle="tab" href="#OutBox-tab" role="tab" aria-controls="OutBox-tab" aria-selected="true">Outbox</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="OpenDonation" data-toggle="tab" href="#OpenDonation-tab" role="tab" aria-controls="OpenDonation-tab" aria-selected="false">Open Donations</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="Accepted" data-toggle="tab" href="#Accepted-tab" role="tab" aria-controls="Accepted-tab" aria-selected="true">Accepted Donations</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="Recieved" data-toggle="tab" href="#Received-tab" role="tab" aria-controls="Received-tab" aria-selected="false">Recieved donations</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="Declined" data-toggle="tab" href="#Declined-tab" role="tab" aria-controls="Declined-tab" aria-selected="false">Declined donations</a>
                                </li>
                                     
                              </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="OutBox-tab" role="tabpanel" aria-labelledby="available">
                                            <div class="card m-2">
                                                    <div class="card-body bg-c2">
                                                        <div class="row">
                                                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                                <img src="{% static '/frugal/images/need/help.jpg' %}" alt="..." class="img-thumbnail">
                                                            </div>
                                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                                <h4>Product Name</h4>
                                                                <h4>Ngo Name</h4>
                                                                <p>Category | Count</p>
                                                                <p>Detail</p>
                                    
                                                            </div>
                                                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                                <button type="button" class="btn btn-c1 mt-1">Edit</button>
                                                                <button type="button" class="btn btn-c1 mt-1">ReDonate</button>
                                                            </div>
                                    
                                                        </div>
                                                    </div>
                                            </div>
                                    
                                    </div>

                                    <div class="tab-pane fade" id="OpenDonation-tab" role="tabpanel" aria-labelledby="available">
                                            <div class="card m-2">
                                                    <div class="card-body bg-c2">
                                                        <div class="row">
                                                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                                <img src="{% static '/frugal/images/need/help.jpg' %}" alt="..." class="img-thumbnail">
                                                            </div>
                                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                                <h4>Product Name</h4>
                                                               
                                                                <p>Category | Count</p>
                                                                <p>Detail</p>
                                    
                                                            </div>
                                                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                                <button type="button" class="btn btn-sm btn-lg btn-c1 mt-1">Edit</button>
                                                                <button type="button" class="btn btn-sm btn-lg btn-c1 mt-1">ReDonate</button>
                                                            </div>
                                    
                                                        </div>
                                                        <hr>

                                                        <div class="row">
                                                                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                                    <a href="">Ngo Name</a>

                                                                </div>

                                                                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                                    Count
                                                                </div>

                                                                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                                        <button type="button" class="btn btn-sm btn-lg btn-c1 mt-1">Accept</button>

                                                                </div>

                                                        </div>

                                                        <div class="row">
                                                                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                                    <a href="">Ngo Name</a>

                                                                </div>

                                                                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                                    Count
                                                                </div>

                                                                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                                        <button type="button" class="btn btn-sm btn-lg btn-c1 mt-1">Accept</button>

                                                                </div>

                                                        </div>
                                                    </div>
                                            </div>
                                    </div>

                                    <div class="tab-pane fade" id="Accepted-tab" role="tabpanel" aria-labelledby="available">
                                            <div class="card m-2">
                                                    <div class="card-body bg-c2">
                                                        <div class="row">
                                                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                                <img src="{% static '/frugal/images/need/help.jpg' %}" alt="..." class="img-thumbnail">
                                                            </div>
                                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                                <h4>Product Name</h4>
                                                                <h4>Ngo Name</h4>
                                                                <p>Category | Count</p>
                                                                <p>Detail</p>
                                    
                                                            </div>
                                                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                                <button type="button" class="btn btn-sm btn-lg btn-c1 mt-1">ReDonate</button>
                                                            </div>
                                    
                                                        </div>
                                                    </div>
                                            </div>
                                    
                                    </div>

                                    <div class="tab-pane fade" id="Received-tab" role="tabpanel" aria-labelledby="available">
                                            <div class="card m-2">
                                                    <div class="card-body bg-c2">
                                                        <div class="row">
                                                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                                <img src="{% static '/frugal/images/need/help.jpg' %}" alt="..." class="img-thumbnail">
                                                            </div>
                                                            <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                                <h4>Product Name</h4>
                                                                <h4>Ngo Name</h4>
                                                                <p>Category | Count</p>
                                                                <p>Detail</p>
                                    
                                                            </div>
                                                           
                                    
                                                        </div>
                                                    </div>
                                            </div>
                                    
                                    </div>

                                    <div class="tab-pane fade" id="Declined-tab" role="tabpanel" aria-labelledby="available">
                                            <div class="card m-2">
                                                    <div class="card-body bg-c2">
                                                        <div class="row">
                                                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                                <img src="{% static '/frugal/images/need/help.jpg' %}" alt="..." class="img-thumbnail">
                                                            </div>
                                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                                <h4>Product Name</h4>
                                                                <h4>Ngo Name</h4>
                                                                <p>Category | Count</p>
                                                                <p> Reason</p>
                                                                <p>Detail</p>
                                    
                                                            </div>
                                                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                                <button type="button" class="btn btn-sm btn-lg btn-c1 mt-1">ReDonate</button>
                                                            </div>
                                    
                                                        </div>
                                                    </div>
                                            </div>
                                    
                                    </div>


                            </div>
                        </div>
                </div>
                 
        </div>
    </div>

   
{% endblock %}   