{% extends 'frugal/Base_Ngo.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
            <div class="row">
           
              <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">

                  <form method="post">
                      {% csrf_token %}
                      {% for field in form %}
                      <div class="form-group">
                        <label class="labe" for="{{field.name}}">{{field.label_tag}}</label>
                        {{ field | add_class:"form-control border border-c3"}}
                      </div>
                      {% endfor %}
                  </form>
              </div>

              <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9  p-3">
                  <div class="card shadow bg-white rounded border border-c3">
                      <div class="card-header bg-c2 text-c3 border-bottom border-c3">
                          Open Donations
                      </div>
                      <div class="card-body">
                          <div class="card shadow bg-white rounded border border-c3">
                              <div class="card-body">
                                  <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                      <img src="..." alt="..." class="img-thumbnail">
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                      <h4>Item Name</h4>
                                      <p>Category | Count | Donor</p>
                                      <p>Detail</p>
            
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                      <button type="button" class="btn btn-primary mt-1">Bid on This Item</button>
                                      <button type="button" class="btn btn-danger mt-1">Not Interested</button>
                                    </div>
            
                                  </div>
                              </div>
                          </div>

                      </div>




                  </div>

              </div>
    </div>
    {% endblock %}