
<html>
  <head>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
    <title>

    </title>
  </head>
  <body>
    <script>
      $(document).ready(function() {
        
      var max_fields = 3; //maximum input boxes allowed
      var wrapper = $("form table:first"); //Fields wrapper
      var add_button = $(".add_field_button"); //Add button ID
      var remove_button = $(".remove_field_button");
 
      var x = 1; //initlal text box count
      $(add_button).click(function(e){ //on add input button click
        
      e.preventDefault();
      if(x < max_fields)
      { //max input box allowed
        x++; //text box increment
        
        $(wrapper).append('<tr id="row'+x+'"><td><input id="Recognized_Body'+x+'" class="form-control" name="Recognized_Body'+x+'" required="required" type="text" /></td>'+
        ' <td><input id="Registration_Number'+x+'" class="form-control" name="Registration_Number'+x+'" required="required" type="text" /></td></tr>'); //add input box
          
      }
      });

      $(remove_button).click(function(e){ //on add input button click
        
        e.preventDefault();
        if(x > 1)
        { //max input box allowed
          var row = $("tr#row"+x)
          x--; //text box increment
          row.remove()
          
        }
        });

        });
    
        
    </script>

      <h1>NGO Registration</h1>
      <h2>Step3: NGO Profile</h2>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
          {% if field.name == "Overview" or field.name == "Cover_Photo" %}
            <p>
              {{ field.label_tag }}<br>
              {{ field }}
              {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
              {% endif %}
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </p>
          {% endif %}
        {%endfor%}

      
          <h2>Registration Detail:<span style="font-size: 14"> Maximum 3 Registrations</span></h2>
                    
          <button type="button" class="add_field_button">+</button>
          <button type="button" class="remove_field_button"> - </button>
          
 
              
              
              <table>
                 
                    <tr><td>Recognized Body</td> <td>Registration Number</td></tr>
                    <tr>
                     <td> <input id="Recognized_Body1" class="form-control" name="Recognized_Body1" required="required" type="text" /></td>
                    
                      <td><input id="Registration_Number1" class="form-control" name="Registration_Number1" required="required" type="text" /></td>
                    </tr>    
                  
                 
              </table>
                
              
              
               
              

        
                    
        <button type="submit">Submit</button>
      </form>
  </body>
</html>