
<html>
  <head>
            
  </head>
  <body>
    <h1>NGO Registration</h1>
    <h2>Step1: General Detail</h2>
           
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <button type="submit" style="float:right">Next</button>
    </form>
  </body>
</html>
 
