
{% extends 'frugal/base.html' %}
{% load widget_tweaks %}

{% block content %}

            <h1 class="heading1">NGO Registration:</h1>
            <h2 class="heading2">Step 1: General Details</h2>          
            <div class="row register-form">
              
              <div class="col">
                <form method="post">
                  {% csrf_token %}
                  {% for field in form %}
                  <div class="form-group">
                    <label class="labe" for="{{field.name}}">{{field.label}}</label>
                    {% if field.name != "Established_on" %}
                      {{ field | add_class:"form-control"}}
                    {%else%}
                      <br>{{ field | add_class:"date-control"}}
                    {% endif %}
                    {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
    
                  </div>
                  {% endfor %}
                  <button type="submit" style="float:right">Next</button>
                </form>
              </div>
            </div>
{%endblock%}
  



  

